body {
    background-color: lightblue;
	margin: 0;
}
.box {
	width: 60%;
	margin: 0 auto;
	color: darkcyan;
}

a {
	text-decoration: none;
	color: inherit;
}

.par {
	margin-left: 2%;
	margin-top: 3%;
    text-indent: 2%;
	width: 80%;
	line-height: 200%;
}

#contributors {
	text-decoration: underline;
}